<!doctype html>

<html lang="en">

<head>
    <link rel="stylesheet" href="../style/recommendations.css">
    <link rel="stylesheet" href="../style/pagination.css">

    <script src="../javascript/jquery-3.3.1.js"></script>
    <script src="../javascript/pagination.js"></script>
    <script src="../javascript/recommendations.js"></script>

    <title>Recommendations</title>
    <p id="title">User ID: 320</p>
    <hr width="75%" id="sep" />
</head>

<body>

    <div id="resultsContainer">

        <div id="pageContainer">

        </div>
        <p class="search-label">Artists you've listened to:</p>

        <div class="data-container" id="artistDataContainer"></div>
        <div id="artistPages"></div>

        <p id="tagLabel" class="search-label">Your tags:</p>

        <div class="data-container" id="tagDataContainer"></div>
        <div id="tagPages"></div>

        <p id="friendLabel" class="search-label">Your friends:</p>

        <div class="data-container" id="friendDataContainer"></div>
        <div id="friendPages"></div>


        <p class="search-label">Recommended artists:</p>

        <div class="data-container" id="artistRecDataContainer"></div>
        <div id="artistRecPages"></div>

    </div>

</body>

</html>
